/* :root {
    27, 172, 183
    18, 116, 219

    189,46,42
    227,196,94
} */

/* ========== GENERAL ========== */
@font-face {
    font-family: headster;
    src: url(Headster-RegularDemo.ttf)
}


/* ============== HOMEPAGE ============== */
@keyframes mymove {
    from {
        background-color: #EDF5E1;
    }
    to {
        background-color: #5CDB95;
    }
}

@keyframes mymove {
    from {
        background-color: #EDF5E1;
    }
    to {
        background-color: #5CDB95;
    }
}

.homeBody {
    background: #EDF5E1;
    animation: mymove 5s;
    animation-fill-mode: forwards;
    margin: 150px;
    text-align: center;    
}



@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

img {
    animation: bounceIn 2s;
}


/* ========== INDEX =========== */
.genBody {
    display: flex;
    justify-content: center;
}

.card {
    width: 50%;
    margin: 2%;
}

.card-title {
    color: #05386B;;
}

.card-text {
    margin-left: 2px;
}
/* ========== GENERAL ========== */
#navFont {
    font-family: headster;
    color: #05386B;
}

li {
    list-style-type: none;
}

.pageFont {
    font-family: headster;
    font-size: 50px;
    text-align: center;
    color: #05386B;
    background-color: #5CDB95;
    margin-top: 65px;
}

.pageBody {
    background-color: #EDF5E1;
}

.add {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    color: #05386B;
}

.link:hover {
    text-decoration: #5CDB95;
}



.showDisplay {
    height: 30%;
    width: 50%;
}



/* NEW */
input[type=text] {
    margin-top: 5%;
    border: 2px solid #5CDB95;
    border-radius: 5px;
}

input[type=checkbox] {
    margin-top: 5%;
}

input[type=submit] {
    margin-top: 5%;
    
}

.des {
    width: 300px;
    height: 110px;
}