/* :root {
    27, 172, 183
    18, 116, 219

    189,46,42
    227,196,94
} */

/* ========== GENERAL ========== */
@font-face {
    font-family: headster;
    src: url(Headster-RegularDemo.ttf)
}


/* ============== HOMEPAGE ============== */
@keyframes mymove {
    from {
        background-color: #EDF5E1;
    }
    to {
        background-color: #5CDB95;
    }
}

@keyframes mymove {
    from {
        background-color: #EDF5E1;
    }
    to {
        background-color: #5CDB95;
    }
}

.homeBody {
    background: #EDF5E1;
    animation: mymove 5s;
    animation-fill-mode: forwards;
    margin: 150px;
    text-align: center;
    
}

@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }


.brandFont {
    font-family: headster;
    font-size: 150px;
    text-align: center;
    animation: bounceIn 2s;
    color: #05386B;
}

#enterBtn {
    margin: 60px;
    width: 300px;
}

/* ========== GENERAL ========== */

li {
    list-style-type: none;
}

.pageFont {
    font-family: headster;
    font-size: 70px;
    text-align: center;
}

.display {
    height: 20%;
    width: 30%;
}

.showDisplay {
    height: 30%;
    width: 50%;
}